<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAMS Internship Assessment System - INTERNSHIP OFFICER</title>
    <link rel="stylesheet" href="/_rias/templates/_components/page_layout.css">
    <link rel="icon" type="image/png" href="../../static/images/rias_icon.png">
</head>

<body class="body">
    <iframe src="../../templates/_components/header.html" class="header" id="headerFrame"></iframe>
    
    <div class="container">
        <iframe src="../../templates/_components/sidebar.html" class="sidebar" id="sidebarFrame"></iframe>

        <iframe id="content" src="../../templates/faculty/home.html" class="content"></iframe>
    </div>

    <iframe src="../../templates/_components/footer.html" class="footer"></iframe>
</body>
</html>