<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RAMS Internship Assessment System</title>
        <link rel="icon" type="image/png" href="../../static/images/rias_icon.png"/>
    </head>

    <body>
        <h2>Login to RAMS</h2>

        <form id="loginForm">
            <input type="email" id="email" name="email" required>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            <p id="error" style="color: red"></p>
        </form>

        <script src="login.js"></script>
    </body>
</html>
